<div class="row justify-content-center">
  <div class="col-lg-8">
    <div class="card page-card">
      <div class="card-body">
        <h1 class="section-title h3 mb-4">Edit Barangay</h1>
        <%= render 'form', barangay: @barangay %>
      </div>
    </div>
  </div>
</div>
